---
- name: Install Desktop and Window Management Tooling
  become: true
  become_user: root
  ansible.builtin.package:
    name: "{{ desktop }}"
    state: present

- name: Configure mkinitcpio
  become: true
  become_user: root
  ansible.builtin.template:
    src: mkinitcpio.conf.j2
    dest: /etc/mkinitcpio.conf
    backup: yes
  notify: regenerate initramfs

- name: Create Niri default config path
  become: true
  become_user: root
  file:
    path: /etc/niri
    recurse: true
    state: directory
    mode: '0755'

- name: Install Niri default config
  become: true
  become_user: root
  copy:
    src: config.kdl
    dest: /etc/niri
    mode: '0644'
