---
- name: Install Desktop and Window Management Tooling
  become: true
  become_user: root
  ansible.builtin.package:
    name: "{{ desktop }}"
    state: present

- name: Configure mkinitcpio
  become: true
  become_user: root
  ansible.builtin.template:
    src: mkinitcpio.conf.j2
    dest: /etc/mkinitcpio.conf
    backup: yes
  notify: regenerate initramfs

- name: Create Niri default config path
  become: true
  become_user: root
  file:
    path: /etc/niri
    recurse: true
    state: directory
    mode: '0755'

- name: Install Niri default config
  become: true
  become_user: root
  copy:
    src: config.kdl
    dest: /etc/niri
    mode: '0644'

- name: Set Gnome Dark Mode
  ansible.builtin.command:
    cmd: dconf write /org/gnome/desktop/interface/color-scheme '"prefer-dark"'

- name: Create Waybar default config path
  become: true
  become_user: root
  file:
    path: /etc/xdg/waybar
    recurse: true
    state: directory
    mode: '0755'

- name: Install Waybar default config
  become: true
  become_user: root
  copy:
    src: config.jsonc
    dest: /etc/xdg/waybar
    mode: '0644'

- name: Install Waybar default styles
  become: true
  become_user: root
  copy:
    src: style.css
    dest: /etc/xdg/waybar
    mode: '0644'
