---
- name: Configure Pacman
  become: true
  become_user: root
  ansible.builtin.template:
    src: pacman.conf.j2
    dest: /etc/pacman.conf
    owner: root
    group: root
    mode: "0644"
    backup: true
  notify: Refresh pacman databases

- name: Base Packages
  become: true
  become_user: root
  block:
    - name: Update package cache
      community.general.pacman:
        update_cache: yes

    - name: Install base system packages
      ansible.builtin.package:
        name: "{{ base_packages.packages }}"
        state: present

- name: Create service-restart group
  become: true
  become_user: root
  ansible.builtin.group:
    name: service-restart
    state: present

- name: Allow service-restart group to restart iwd without password
  community.general.sudoers:
    name: iwd-restart
    group: service-restart
    commands:
      - /usr/bin/systemctl restart iwd.service
    nopassword: true
    state: present
  become: true
